@import "tailwindcss";

@theme {
  /* 필라테스 프리미엄 테마 컬러 설정 */
  --color-brand-bg: #FDFBF9;
  --color-brand-primary: #A8D1C7; /* 소프트 민트 */
  --color-brand-secondary: #F5EBE0; /* 베이지 */
  --color-brand-text: #333333;
}

:root {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}

@layer base {
  body {
    @apply antialiased;
  }
}